/* >>>> GENERAL STYLE <<<<< */


/* >>>> GENERAL STYLE <<<<< */


/* >>>> GENERAL STYLE <<<<< */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

/*
<<<<<<< HEAD
=======*/

html{
  scroll-behavior: smooth;
}
/*
>>>>>>> Dev
*/
/* >>>> NAV STYLE <<<<< */


/* >>>> NAV STYLE <<<<< */


/* >>>> NAV STYLE <<<<< */
nav.nav--bar {
    width: 100%;
    border-bottom: 1px solid rgb(180, 167, 167);
}
nav.nav--bar .navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: #873030;
    align-content: center;
}
nav.nav--bar .navbar-list a {
    color: rgb(241, 210, 142);
    text-align: center;
    font-size: 19px;
}

nav.nav--bar .navbar-list a:hover{
  color: darkgoldenrod;
}

nav.nav--bar .navbar-list .nav-item-nav,
nav.nav--bar .navbar-list .dropdown {
    padding: 10px;
}
/*
nav.nav--bar .navbar-list .nav-item-nav:not(:first-child),
nav.nav--bar .navbar-list .dropdown {
    border-left: 1px solid rgb(0, 0, 0);
}
*/

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .dropdown-content {
    list-style-type: none;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    top: 44px;
    background-color: #873030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
  list-style-type: none;
}

.dropdown-content li a:hover {
  color: darkgoldenrod;
}

/*MENU MOBILE***************************************/
.navbar-mobile{
  display: none;
}

#logo{
  right: 380px;
}

.navbar-mobile i{
  position: fixed;
  z-index: 9999;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: rgb(143, 62, 62) ;
}
.modal{
  transition: top 0.9s;
  background-color: black;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
}

.navbar-mobile .navbar-mobile-list{
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-mobile .navbar-mobile-list a{
  font-size: 2rem;
  font-weight: 800;
  color: white;
  padding: 0.5rem;
}
.change-modal{
  top:0
}


/* HOME PAGE STYLE */
/* HOME PAGE STYLE */
/* HOME PAGE STYLE */
/* HOME PAGE STYLE */


#selection {
  background-color: rgb(226, 187, 102);
}

#selection div h1{
  text-align: center;
  color: rgb(97, 34, 34);
  font-size: 50px;
  font-family: 'Lobster', cursive;
  padding-top: 20px;
}

.images{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
}

.images div{
  width: 50%;
  text-align: center;
  margin-bottom: 2.5rem;
}
.images div a{
  color: black;
}
.images div h2:hover{
color: rgb(121, 108, 53);
}

.images div img:hover{
  background-color: rgba(126, 129, 128, 0.1);
  
}
 
  
.elec a span{
  color: #803232;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}
.elec{
  align-items: flex-end;
  
}
.elec a span:hover{
  color: rgb(148, 120, 77);
}

.images div img{
  width: 80%;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* >>>> FOOTER STYLE <<<<< */


/* >>>> FOOTER STYLE <<<<< */


/* >>>> FOOTER STYLE <<<<< */
/* >>>> FOOTER STYLE <<<<< */
  .footer-basic {
    padding:40px 0;
    background-color:#803232;
    color: rgba(190, 154, 100, 1);
    font-weight: bold;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    opacity:0.8;
  }
  
.footer-basic ul a:hover {
    opacity:1;
  }
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
.footer-basic .social > a:hover {
    opacity:0.9;
  }
  
.footer-basic .list-inline-item ul {
  font-size: 18px;
  color: #ccc;
  list-style-type: square;
}
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
/*Media queries FOR MOBILE*/
@media screen and (max-width : 450px){
  .navbar-desktop{
      display: none;
  }
  .navbar-mobile{
      display: block;
  }
}